<!-- Slider -->

<div class="slidercontainer">

    <div id="mainslider" class="owl-carousel">



        <div class="slider-image-wrapper">

            <img src="{{ asset('bundles/site/v3/images/slider/' ~ lang ~ '/1.jpg')}}" alt="" 

                />

        </div>



        <div class="slider-image-wrapper">



            <img src="{{ asset('bundles/site/v3/images/slider/' ~ lang ~ '/2.jpg')}}" alt="" 

                />

        </div>



        <div class="slider-image-wrapper">

            <img src="{{ asset('bundles/site/v3/images/slider/' ~ lang ~ '/3.jpg')}}" alt="" 

                />

        </div>



        <div class="slider-image-wrapper">



            <img src="{{ asset('bundles/site/v3/images/slider/' ~ lang ~ '/4.jpg')}}" alt="" 

                />

        </div>



    </div>

</div>

<!-- End of Slider -->

